.site-background {
  background: white;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.logo-text {
  height: 31px;
  margin: 16px 24px 16px 0;
  color: white;
}

.layout-content {
  padding: 24px;
  margin: 0;
  min-height: 280px;
}

.content-description {
  padding-left: 60px;
  padding-right: 60px;
}

.search-input {
  padding-left: 60px;
  padding-right: 60px;
}

.center-content {
  text-align: center;
}

.navigation-sider {
  border-right: 1px solid #f0f0f0;
}
